@media (max-width: 799px) {
  .body {
    height: calc(100vh - 5rem);
    overflow-x: hidden;
  }

  .homeBodyActive {
    height: calc(100vh);
  }
}

@media (min-width: 800px) {
  .body {
    height: calc(100vh - 48px);
    overflow-x: hidden;
    /* background-color: var(--color-sextiary-100); */
    background: linear-gradient(
      90deg,
      var(--color-sextiary-light-100),
      var(--color-sextiary-light-100),
      var(--color-sextiary-light-200),
      var(--color-sextiary-light-200),
      var(--color-sextiary-light-100)
    );
  }
  .homeBodyActive {
    height: calc(100vh);
  }
}
