# Google OAuth2 credentials
GOOGLE_CLIENT_ID=your_client_id_here
GOOGLE_SECRET=your_secret_here
GOOGLE_OAUTH_REDIRECT_URL=your_redirect_url_here
GOOGLE_ACCESS_TOKEN=your_access_token_here
GOOGLE_REFRESH_TOKEN=your_refresh_token_here
CALENDAR_ID=your_calendar_id_here

# Google Maps API
GOOGLE_MAPS_API_KEY=your_api_key_here

# Server configuration
PORT=8081
