.formContainer {
  display: flex;
  flex-direction: column;
  width: 100vw;
  font-family: var(--font-primary);
}

.form {
  display: flex;
  flex-direction: column;

  justify-content: center;
  margin: 2rem auto;
}

.form h1 {
  margin-left: 2rem;
}

.form label,
.form input,
.form textarea {
  display: block;
  width: 100%;
}

.form input,
.form textarea {
  font: inherit;
  padding: 0.25rem;
}

.actions {
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin-left: 2rem;
  align-items: center;
}

.actions button {
  font: inherit;
  cursor: pointer;
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
  background-color: var(--color-primary-300);
  transition: ease 0.3s;
  color: var(--color-gray-800);
  border: none;
  width: 20rem;
}

.actions a {
  text-decoration: none;
  background-color: transparent;
  color: var(--color-gray-300);
}

.actions button:hover {
  background-color: var(--color-primary-400);
}

.actions a:hover {
  background-color: var(--color-gray-800);
}

.authOptionContainer {
  margin: 0 auto;
}

.authOption {
  margin-left: 0.7rem;
  text-decoration: none;
  color: var(--color-primary-1000);
  transition: 0.3s ease;
}

.authOption:hover {
  color: var(--color-primary-800);
}

.createAccountFieldsContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 40%;
  flex-direction: column;
  column-gap: 2rem;

  justify-content: center;
  width: 50rem;
  margin: 2rem auto;
}

label {
  margin-bottom: 0.65rem;
}

.orContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 2rem 0;
}

.orLineBreak {
  height: 1px;
  background-color: var(--color-secondary-100);
  width: 30px;
  display: flex;
  align-items: center;
  margin: 0 0.75rem;
  align-self: center;
}

.orText {
  color: var(--color-secondary-800);
}

.googleLinkContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}

.googleLink {
  cursor: pointer;
  color: var(--color-primary-800);
  transition: ease 0.3s;
}

.googleLink:hover {
  color: var(--color-primary-1000);
}
