.titleContainer {
  display: flex;
  flex-direction: row;
  width: 70vw;
  display: flex;
  align-items: center;
  margin: 3rem 2rem 1rem;
}

.title {
  font-family: var(--font-family-tertiary);
  width: max-content;
  white-space: nowrap;
  font-weight: 200;
  margin-left: 4rem;
  font-size: 2rem;

  /* Gradient clip styles */
  background: linear-gradient(
    90deg,
    var(--color-primary-500),
    var(--color-secondary-500)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

/* 
.titleLineContainer {
  display: flex;
  align-items: center;
  height: 28px;
  width: 70%;
} */

.titleLine {
  height: 1px;
  background-color: var(--color-grey-light-2);
  width: inherit;
  margin: 4px 2rem 0 2rem;
}
